In [20]:
import sqlite3
dbconn=sqlite3.connect('data.sqlite')
cursor=dbconn.cursor()

In [27]:
cursor.execute("SELECT * FROM temp")
rows=cursor.fetchall()
rows

[('23-03-06-00-47-57', '18'),
 ('23-03-06-00-48-00', '18'),
 ('23-03-06-00-48-04', '18'),
 ('23-03-06-00-48-08', '18'),
 ('23-03-06-00-48-11', '19'),
 ('23-03-06-00-48-15', '20'),
 ('23-03-06-00-48-19', '18'),
 ('23-03-06-00-48-22', '18'),
 ('23-03-06-00-48-26', '18'),
 ('23-03-06-00-48-30', '19'),
 ('23-03-06-00-56-03', '18'),
 ('23-03-06-00-56-19', '18'),
 ('23-03-06-00-56-34', '18'),
 ('23-03-06-00-56-50', '18'),
 ('23-03-06-00-57-06', '19'),
 ('23-03-06-00-57-21', '18'),
 ('23-03-06-00-57-37', '18'),
 ('23-03-06-00-57-53', '18'),
 ('23-03-06-00-58-08', '19'),
 ('23-03-06-00-58-24', '18'),
 ('23-03-06-00-58-40', '18')]

In [23]:
temp=[row[1] for row in rows]
date=[row[0] for row in rows]

In [24]:
temp

['18',
 '18',
 '18',
 '18',
 '19',
 '20',
 '18',
 '18',
 '18',
 '19',
 '18',
 '18',
 '18',
 '18',
 '19',
 '18',
 '18',
 '18',
 '19',
 '18',
 '18']

In [25]:
date

['23-03-06-00-47-57',
 '23-03-06-00-48-00',
 '23-03-06-00-48-04',
 '23-03-06-00-48-08',
 '23-03-06-00-48-11',
 '23-03-06-00-48-15',
 '23-03-06-00-48-19',
 '23-03-06-00-48-22',
 '23-03-06-00-48-26',
 '23-03-06-00-48-30',
 '23-03-06-00-56-03',
 '23-03-06-00-56-19',
 '23-03-06-00-56-34',
 '23-03-06-00-56-50',
 '23-03-06-00-57-06',
 '23-03-06-00-57-21',
 '23-03-06-00-57-37',
 '23-03-06-00-57-53',
 '23-03-06-00-58-08',
 '23-03-06-00-58-24',
 '23-03-06-00-58-40']

In [35]:
cursor.execute("SELECT date FROM temp")
date=cursor.fetchall()
date

[('23-03-06-00-47-57',),
 ('23-03-06-00-48-00',),
 ('23-03-06-00-48-04',),
 ('23-03-06-00-48-08',),
 ('23-03-06-00-48-11',),
 ('23-03-06-00-48-15',),
 ('23-03-06-00-48-19',),
 ('23-03-06-00-48-22',),
 ('23-03-06-00-48-26',),
 ('23-03-06-00-48-30',),
 ('23-03-06-00-56-03',),
 ('23-03-06-00-56-19',),
 ('23-03-06-00-56-34',),
 ('23-03-06-00-56-50',),
 ('23-03-06-00-57-06',),
 ('23-03-06-00-57-21',),
 ('23-03-06-00-57-37',),
 ('23-03-06-00-57-53',),
 ('23-03-06-00-58-08',),
 ('23-03-06-00-58-24',),
 ('23-03-06-00-58-40',)]

In [36]:
date=[i[0] for i in date]
date

['23-03-06-00-47-57',
 '23-03-06-00-48-00',
 '23-03-06-00-48-04',
 '23-03-06-00-48-08',
 '23-03-06-00-48-11',
 '23-03-06-00-48-15',
 '23-03-06-00-48-19',
 '23-03-06-00-48-22',
 '23-03-06-00-48-26',
 '23-03-06-00-48-30',
 '23-03-06-00-56-03',
 '23-03-06-00-56-19',
 '23-03-06-00-56-34',
 '23-03-06-00-56-50',
 '23-03-06-00-57-06',
 '23-03-06-00-57-21',
 '23-03-06-00-57-37',
 '23-03-06-00-57-53',
 '23-03-06-00-58-08',
 '23-03-06-00-58-24',
 '23-03-06-00-58-40']

In [34]:
cursor.execute("SELECT date FROM temp")
time=cursor.fetchall()
time=[i[0] for i in time]
time

['23-03-06-00-47-57',
 '23-03-06-00-48-00',
 '23-03-06-00-48-04',
 '23-03-06-00-48-08',
 '23-03-06-00-48-11',
 '23-03-06-00-48-15',
 '23-03-06-00-48-19',
 '23-03-06-00-48-22',
 '23-03-06-00-48-26',
 '23-03-06-00-48-30',
 '23-03-06-00-56-03',
 '23-03-06-00-56-19',
 '23-03-06-00-56-34',
 '23-03-06-00-56-50',
 '23-03-06-00-57-06',
 '23-03-06-00-57-21',
 '23-03-06-00-57-37',
 '23-03-06-00-57-53',
 '23-03-06-00-58-08',
 '23-03-06-00-58-24',
 '23-03-06-00-58-40']