In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data.txt')

In [5]:
df

                date  temperature
0  23-03-05-18-48-24           20
1  23-03-05-18-49-25           19

In [4]:
df['date']

0    23-03-05-18-48-24
1    23-03-05-18-49-25
Name: date, dtype: object